nav {
  margin-bottom: 1em;
}

nav h5 {
  display: inline;
  padding: 0.5em;
}

nav h5 a {
  text-decoration: none;
}

nav h5 a:hover {
  background-color: #1da1f2;
  border-radius: 10%;
  padding: 2px;
}

.logo-thumb {
  max-width: 40px;
  margin-top: 1em;
}

.tweet-thumb {
  max-width: 100%;
  border-radius: 50%;
}

.tweet {
  display: inline-block;
  margin-top: 1em;
}

#middle-column {
 border-left: 1px solid lightgrey;
 border-right: 1px solid lightgrey;
}

#left-column a:hover {
  background-color: #c9e5f0;
  border-radius: 25px;
}

.tweet-input {
  width: 100%;
  height: 125px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.tweet-button {
  text-align: right;
  margin-top: 1em;
}

.btn-primary {
  margin-top: 1em;
  background-color: #1da1f2;
  border-radius: 30px;
}

.tweet-container {
  margin-top: 1em;
}

#tweet-author {
  font-weight: bold;
  margin-top: 0.5em;
}

.top-line p {
  display: inline;
}

.tweet .btn-danger {
  margin-bottom: 1em;
  border-radius: 12px;
}

h4 {
  color: #6c6c6c;
}

.follow-thumb {
  max-width: 80%;
  border-radius: 50%;
}

.follow-button {
  margin-top: 0.5em;
  background-color: #1da1f2;
  border: none;
  color: white;
}

.profile-image {
  max-width: 25%;
  border-radius: 50%;
}

.profile-name {
  margin-top: 1em;
}

.profile-name {
  margin-top: 1em;
}

.profile-subheading {
  font-weight: bold;
  color: #1da1f2;
  margin-top: 1em;
}
